.home-wrapper {
  display: flex;
  flex-direction: row;
  width: 100vw;
}
.home-rigth-sidebar {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: space-between;
  width: 30vw;
  height: 100vh;
}
.home-left-sidebar {
  width: 30vw;
}
.home-center {
  width: 40vw;
}
