.wrapper {
  display: flex;
  flex-direction: row;
  flex: wrap;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 0 3rem;
}
.right-sidebar {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 2rem;
  border-left: solid;
  border-width: thin;
  border-color: #e5e7e9;
  gap: 1rem;
}
.r-sidebar-nav {
  display: flex;
  flex-direction: row;
  background-color: #eff4f8;
  border-radius: 4rem;
  margin-top: 0.5rem;
}
.r-sidebar-nav-search-input {
  background-color: transparent;
  border-radius: 4rem;
  border: none;
  width: 200px;
  padding: 0.7rem;
  color: #6c757d;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
.r-sidebar-nav-search-input:focus {
  box-shadow: none;
  outline: none;
  background-color: transparent;
}
.r-sidebar-nav-search-logo {
  width: 15%;
}
.r-sidebar-trends {
  padding: 1rem 2rem;
  text-align: left;
  background-color: #f8f9fa;
  border-radius: 1rem;
}
.r-sidebar-trends-label,
.r-sidebar-follow-label {
  font-weight: bolder;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: x-large;
}
.r-sidebar-trends-list {
  list-style: none;
}
.r-sidebar-trends-show {
  color: rgb(29, 155, 240);
  font-size: medium;
}
.r-sidebar-follow {
  padding: 1rem 2rem;
  text-align: left;
  background-color: #f8f9fa;
  border-radius: 1rem;
}
